<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="322a7971-6b26-4374-8758-fc5c71a8d1dc" Publisher="CN=Kenneth" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BlacksmithPress.Diabetes.WinRT</DisplayName>
    <PublisherDisplayName>Kenneth</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BlacksmithPress.Diabetes.WinRT.App">
      <VisualElements DisplayName="BlacksmithPress.Diabetes.WinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BlacksmithPress.Diabetes.WinRT" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>